version: '3.8'

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql_container2
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    restart: always

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: aspnet_api
    environment:
      - ConnectionStrings__DefaultConnection=Server=mssql;Database=SZT;User Id=sa;Password=YourStrong!Passw0rd;Trusted_Connection=False;TrustServerCertificate=True;
      - ASPNETCORE_HTTP_PORTS=5000
      - ASPNETCORE_HTTP_PORTS=5001
    ports:
      - "5000:5000"
      - "5001:5001"
    depends_on:
      - mssql
    restart: always
  
  angular-app:
    build: ./frontend
    container_name: angular-container
    ports:
      - "8080:80"
    restart: unless-stopped