:host{
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  gap: 20px;
}

img{
  display: block;
  width: 50%;
}

@media (max-width: 800px) {
  :host{
    display: block;
  }
  img{
    width: 100%;
  }
}