<h2>Złóż zamówienie na dietę {{cateringName}}</h2>
<form (ngSubmit)="onSubmit()" #placeOrderForm="ngForm">
  <div>
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="order.email"
      required
      pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
      #email="ngModel"
      class="form-control"
    />
    @if (email.errors?.['required'] && email.touched) {
      <div class="error-message">
        Email jest wymagany.
      </div>
    }
    @if (email.errors?.['pattern'] && email.touched) {
      <div class="error-message">
        Podaj poprawny adres email.
      </div>
    }
  </div>

  <div>
    <label for="firstName">Imię:</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      [(ngModel)]="order.firstName"
      required
      #firstName="ngModel"
    />
    @if (firstName.invalid && firstName.touched) {
      <div class="error-message">
        Imię jest wymagane.
      </div>
    }
  </div>

  <div>
    <label for="lastName">Nazwisko:</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      [(ngModel)]="order.lastName"
      required
      #lastName="ngModel"

    />
    @if (lastName.invalid && lastName.touched) {
      <div class="error-message">
        Nazwisko jest wymagane.
      </div>
    }
  </div>

  <div>
    <label for="startDate">Data początkowa:</label>
    <input
      type="date"
      id="startDate"
      name="startDate"
      [(ngModel)]="order.startDate"
      required
      #startDate="ngModel"
      [min]="minStartDate"
      [max]="maxDate"
    />
    @if (startDate.invalid && startDate.touched) {
      <div class="error-message">
        Data początkowa jest wymagana.
      </div>
    }
  </div>

  <div>
    <label for="endDate">Data końcowa:</label>
    <input
      type="date"
      id="endDate"
      name="endDate"
      [(ngModel)]="order.endDate"
      required
      #endDate="ngModel"
      [min]="minStartDate"
      [max]="maxDate"
    />
    @if (endDate.invalid && endDate.touched) {
      <div class="error-message">
        Data końcowa jest wymagana.
      </div>
    }
  </div>

  <div>
    <label for="count">Liczba kalorii:</label>
    <select
      id="count"
      name="count"
      [(ngModel)]="order.count"
      required
      #count="ngModel"
    >
      @for (number of numbers; track number) {
        <option [ngValue]="number">Kalorie: {{ number.kcal }}, cena {{number.price}} zł</option>
      }
    </select>
    @if (count.invalid && count.touched) {
      <div class="error-message">
        Wybierz liczbę.
      </div>
    }
  </div>

  <div>
    <label for="city">Miasto:</label>
    <input
      type="text"
      id="city"
      name="city"
      [(ngModel)]="order.city"
      required
      #city="ngModel"
    />
    @if (city.invalid && city.touched) {
      <div class="error-message">
        Miasto jest wymagane.
      </div>
    }
  </div>

  <div>
    <label for="street">Ulica:</label>
    <input
      type="text"
      id="street"
      name="street"
      [(ngModel)]="order.street"
      required
      #street="ngModel"
    />
    @if (street.invalid && street.touched) {
      <div class="error-message">
        Ulica jest wymagana.
      </div>
    }
  </div>
  <div class="date-difference">
    @if (order.startDate && order.endDate && order.count) {
      <p>Cena: {{ calculateDaysDifference(order.startDate, order.endDate, order.count) }} zł</p>
    }
  </div>
  <button type="submit" [disabled]="!placeOrderForm.form.valid">Złóż zamówienie</button>
</form>
