/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /*font-family: "Poppins", Helvetica, sans-serif;*/
}

h1{
  font-size: 3em;
}