/* Stylowanie formularza */
form {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  padding-right: 40px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

h2{
  text-align: center;
  font-size: 2rem;
}

/* Stylowanie etykiet */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

/* Stylowanie pól wejściowych */
input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  font-family: inherit;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

/* Efekt hover/focus na polach wejściowych */
input:focus, textarea:focus, select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Stylowanie przycisku */
button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Efekt hover na przycisku */
button:hover {
  background-color: #0056b3;
}

/* Stylowanie przycisku, gdy jest zablokowany */
button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Stylowanie dla błędów walidacji */
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border-color: #dc3545;
  background-color: #fff5f5;
}

div.error-message {
  color: #dc3545;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

